body{
    background-color: rgb(121, 120, 120);
}
.galeria{
    height: calc(500px + 3em);
    width: 550px;
    border: 1px solid black;
    position: relative;
}
.galeria img{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 3s;
}
img{
    width: 550px;
}
.galeria input[type=radio]{
    position: relative;
    bottom: calc( -500px - 1.5em);
    left: .5em;
}
.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(7):checked ~ img:nth-of-type(7) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(8):checked ~ img:nth-of-type(8) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(9):checked ~ img:nth-of-type(9) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(10):checked ~ img:nth-of-type(10) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(11):checked ~ img:nth-of-type(11) {
    opacity: 1;
}