/New Folder (2)/mi_app/nbproject/private/
/New Folder (2)/mi_app/build/
/New Folder (2)/mi_app/dist/
/clase2Java/nbproject/private/
/clase2Java/build/
/java/clase3Java/nbproject/private/
/java/clase3Java/build/
/java/baseDatos/target/
